@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-color: #CEEBEF;
  --secondary-color: #0A9DAE;
  --dark-color: #0E4A6C;
  --light-color: #CFDBE2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}


h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0px;
}

p {
  margin: 10px 0px;
}

img {
  width: 100%;
}

/* Navbar */

.navbar {
  background-color: white;
  color: #0E4A6C;
  height: 70px;
}

.navbar .container {
  max-height: 150px;
  background-color: white;
}

.navbar ul {
  display: flex;
  background-color: white;
}

.navbar a {
  color: #0E4A6C;
  padding: 10px;
  margin: 0px 5px;
  
}

.navbar a:hover {
  border-bottom: 2px #0E4A6C solid;
}

.navbar .flex {
  justify-content: space-between;
  align-content: flex-start;
  background-color: white;
}

.navbar img {
  width: 100%;
  max-height: 130px;
}

/* Home */
.home {
  height: 400px;
  background-color: var(--primary-color);
  color: #0E4A6C;
  position: relative;
}

.home h1 {
  font-size: 40px;
}

.home p {
  margin: 20px 0px;
}

.home img {
  border-radius: 8px;
}

.home .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
} 

.home .grid .home-img{
  margin-top: 50px;
} 

.home-img {
  animation: slideInFromLeft 1s ease-in;
}

.home-form {
  position: relative;
  top: 60px;
  height: 420px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.home-form .form-control {
  margin: 30px 0;
}

.home-form input[type='text'],
.home-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #0E4A6C;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.home-form input:focus {
  outline: none;
}

.home::before,
.home::after {
  content: '';
  position: absolute;
  height: 85px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #CEEBEF;
  transform: skewY(-1deg);
  -webkit-transform: skewY(-1deg);
  -moz-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
}

/* Services */
.services {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;
}

 .services-heading {
  max-width: 100%;
  margin: 50px auto auto;
 }

 .services .grid h3 {
  font-size: 35px;
 }

 .services .grid p {
  font-size: 20px;
  font-weight: bold;
 }

 /* Reviews */

 .reviews .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
 }

 .reviews .grid > *:first-child {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
 }

 .reviews img {
  border: 1px solid #0E4A6C;
  border-radius: 4px;
  padding: 1px;
  width: 350px;
 }

 .reviews img:first-child {
  border: 1px solid #0E4A6C;
  border-radius: 4px;
  padding: 1px;
  width: 250px;
 }

.reviews a {
  font-style: bold;
  color: #0E4A6C;
  text-decoration: underline;
}

 .reviews a:hover {
  text-decoration: none;
  color: #0E4A6C;
 }

 /* About */
.about .grid {
  grid-template-columns: 4fr 3fr;
  grid: wrap;
}

.about img {
  border-radius: 8px;
}

/* Footer */
.footer .social a {
  margin: 0px 10px;
}

.footer > div:nth-child(1) {
  margin-left: 20px;
}

/*Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
  
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
  
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
  
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
  
}

/* Tablets and under */
@media (max-width: 768px) {
  
  .grid,
  .home .grid,
  .services .grid-3,
  .reviews .grid,
  .about .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .services .grid-3 {
    padding: 50px;
  }

  .home {
    height: auto;
  }

  .home {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .home-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

  .reviews .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
   }
    
}


/* Mobile */
@media (max-width: 500px) {

 .navbar {
    height: 100px;
  }
  
  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
  } 
}
